.calLeft {
    width: 49%;
    height: 100%;
    background: black;
    float: left;
}

.upcomingTasksRight {
    width: 49%;
    height: 100%;
    float: right;
    font-family: 'Arial';
    font-weight: lighter;
}

.assignedTaskWrapper {
    height: 10%;
    width: 100%;
    clear: both;
    padding: 2%;
    padding-bottom: 12%;
}

.assignedTask {
    width: 70%;
    float: left;
}

.assignedTask h2 {
    float: left;
    margin-left: 2%;
    margin-top: 0;
}

.assignedTask h4 {
    float: right;
    color: #FFF;
    padding: 1%;
}

.assignedTask p {
    float: left;
    margin-top: 6%;
    margin-left: -15%; 
    color: lightgray;
}

.assignedTask img {
    float: left;
    width: 10%;
}


.assignedTaskInfo {
    width: 30%;
    float: right;
}

.assignedTaskInfo p {
    float: right;
    background: #7FC4FD;
    border-radius: 5px;
    padding: 5%;
    margin-top: 2%;
    color: #FFF;
}

.assignedTaskInfo img {
    width: 19%;
    float: right;
    margin-top: 2%;
    margin-left: 2%;
}

