/* Styling for Dashboard specifically */
.courseHeader {
    position: relative;
    width: 100%;
    height: 100%;
}
.courseHeader img {
    margin-top: .1%;
    width: 100%;
    height: 10%;
    position: relative;
    
}

.courseHeader h1 {
    text-align: left;
    font-family: 'Arial';
    position: absolute;
    bottom: 0;
    color: white;
    padding: 1%;
}

hr {
    color: grey;
    width: 95%;
}

.notifications {
    width: 68%;
    border: solid 1px grey;
    height: 100%;
    float: left;
}

.notifications h3 {
    color: gray;
    padding: .5%;
    margin-left: 2%;
}

.pinnedMsg {
    width: 30%;
    border: solid 1px grey;
    height: 100%;
    float: right;
}

.pinnedMsg h3 {
    color: gray;
    padding: .5%;
    margin-left: 2%;
}
