/* .App {
    height: 100vh;
    overflow: hidden;
} */

header {
    background: #2699FB;
    height: 6%;
}

.logo {
    width:5%;
    float: left;
    margin-top: .5%;
    margin-left: .6%;
}

.bell {
    width: 1%;
    float: right;
    margin-top: .9%;
    margin-right: .8%;
}

.avatar {
    width: 1.5%;
    float: right;
    margin-right: .6%;
    margin-top: .7%;
}

header:after {
    content: "";
    display: table;
    clear: both;
    overflow: hidden;
}

.mainContainer {
    position: relative;
    overflow: hidden;
    background: #FFF;
    width: 100%;
    min-height: 95%;;
    float: left;
}

.content {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    /*background: black; */
    position: absolute;
}

.content h1 {
    color: #7FC4FD;
    text-align: center;
    
}
